@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/*Variables*/

:root {
  --primary-color: #f60f20;
  --black: #111;
}

/*Basic styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

/*Header*/

.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 100px;
  z-index: 20;
  border-bottom: var(--primary-color) 2px solid;
  position: fixed;
  background-color: #fff;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 20;
}

.head {
  position: fixed;
  width: 100%;
  padding-top: 2%;
  z-index: 20;
  top: 0;
}

/*Menu navigation*/

.toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  background: var(--primary-color) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

/*Links*/

a {
  text-decoration: none;
  color: var(--black);
}

li a:hover {
  color: var(--primary-color);
}

.about p a {
  color: var(--primary-color);
}

/*Footer*/

footer {
  position: fixed;
  height: 30px;
  width: 100%;
  border-top: var(--primary-color) 2px solid;
  bottom: 0;
  background-color: #fff;
  text-align: center;
  z-index: 25;
}

/* Home page */

.main-home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.services {
  padding-top: 140px;
  list-style: none;
  text-align: center;
  font-size: 3rem;
  width: 55%;
}

.bg-image {
  position: absolute;
  right: 0;
  width: 45%;
  height: 100vh;
}

/* Button */

.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

/* About page */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 15%;
}

.about p {
  width: 50%;
}

/*Projects page*/

/*Projects can now be added in html and will appear the same as alumil project*/

.projects {
  padding-top: 10%;
}

.projects h2 {
  text-align: center;
  padding-bottom: 5%;
}

.projects h3 {
  text-align: center;
  padding-top: 2%;
}

.projects a:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.projects a {
  display: flex;
  padding: 2%;
}

.project-img {
  margin: 1%;
  width: 300px;
  height: 100px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.projects section {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  width: 80%;
}

/*Contact page*/

.contact {
  padding-top: 15%;
}

.contact h2 {
  text-align: center;
  padding-bottom: 5%;
}

.socialmedia {
  display: flex;
  justify-content: center;
}
.socialmedia li {
  margin-right: 20px;
  list-style: none;
}

.socialmedia li a img {
  width: 60px;
  height: 60px;
}

.socialmedia li a img:hover {
  background-color: var(--primary-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.pic-padding {
  padding: 3px;
}

.mail-text {
  position: absolute;
  visibility: hidden;
}

.mail:hover .mail-text {
  visibility: visible;
}

/*Height MQ*/
/*This is so that home page is displayed properly on monitors that are lower resolution than HD*/
@media only screen and (max-height: 658px) {
  .services {
    font-size: 2rem;
  }
}

/*Media Queries for mobile screens*/

@media only screen and (max-width: 576px) {
  /*Navigation and footer*/
  .nav h1 {
    visibility: hidden;
  }
  .nav .logo,
  .toggle {
    width: 30%;
  }

  .toggle {
    background-size: 40px;
  }

  .toggle.active {
    background-size: 35px;
  }

  footer p {
    padding-top: 5px;
    font-size: 0.8rem;
  }

  /*Home page*/

  .bg-image {
    visibility: hidden;
  }

  .services {
    font-size: 1.7rem;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
  }

  /*About me*/

  .about {
    padding-top: 30%;
  }

  .about p {
    width: 90%;
  }

  /*Projects*/

  .projects h2 {
    padding-top: 30%;
  }

  .projects section a {
    flex-direction: column;
    align-content: center;
    margin-bottom: 20%;
  }

  /*Contact*/

  .contact {
    margin-bottom: 10%;
    width: 90%;
    margin-left: 5%;
  }

  .contact h2 {
    padding-top: 20%;
  }

  .socialmedia {
    flex-direction: column;
    align-items: center;
  }

  .mail {
    display: flex;
    flex-direction: column;
  }

  .mail-text {
    left: 15%;
    top: 90%;
  }
}

/*For tablets*/
@media only screen and (min-width: 577px) and (max-width: 1023px) {
  .projects h2 {
    padding-top: 10%;
  }
}
